/* app css stylesheet */

.stdBorder {
	margin: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	padding: 5px;
}

#header {
	widht: 100%;
	height: 50px;
}

#leftcol {
	float: left;
}

#rightcol {
	float: right;
}

#aboutme {
	float: left;
	width: 300px;
	height: 250px;
}

#filters {
	float: right;
	width: 300px;
	height: 250px;
}

#listview,#chat {
	width: 300px;
	height: 250px;
}

#maps {
	height: 350px;
}

.label {
	width: 100px;
	display: block;
	float: left;
}

.positionInput {
	width: 60px;
}

.categorySelectBox {
	width: 150px;
}

.clearfix {
	clear: both;
}
/* .menu { */
/*   list-style: none; */
/*   border-bottom: 0.1em solid black; */
/*   margin-bottom: 2em; */
/*   padding: 0 0 0.5em; */
/* } */

/* .menu:before { */
/*   content: "["; */
/* } */

/* .menu:after { */
/*   content: "]"; */
/* } */

/* .menu > li { */
/*   display: inline; */
/* } */

/* .menu > li:before { */
/*   content: "|"; */
/*   padding-right: 0.3em; */
/* } */

/* .menu > li:nth-child(1):before { */
/*   content: ""; */
/*   padding: 0; */
/* } */
