					<h2>About me:</h2>
					<div>
						<span class="label">Name:</span><span>{{person.userName}}</span>
					</div>
					<div>
						<span class="label">Position:</span><input type="number" ng-model="person.location.lat"
							class="positionInput"></input><input type="number" ng-model="person.location.long"
							class="positionInput"></input>
							<button id="setLocationButton" class="btn" ng-click="setPosition()"><i class="icon-search"></i> SET</button>
					</div>
					<div>
						<span class="label">Categories:</span><select
							class="categorySelectBox">
							<option ng:repeat="category in categories">{{category.name}}</option>
							</select>
					</div>
	</div>
