	<div id="main">

		<div id="header" class="stdBorder">
			<h1>LOCATION BASE</h1>
		</div>
		<div id="leftcol" class="stdBorder" style="border-color: green;">
			Leftcol
			<div id="firstline" class="stdBorder" style="border-color: yellow;">
				<div id="aboutme" class="stdBorder">
					<h2>About me:</h2>
					<div>
						<span class="label">Name:</span><span>{{person.userName}}</span>
					</div>
					<div>
						<span class="label">Position:</span><input type="number" ng-model="person.location.lat"
							class="positionInput"></input><input type="number" ng-model="person.location.long"
							class="positionInput"></input>
							<button id="setLocationButton" ng-click="setPosition()">SET</button>
					</div>
					<div>
						<span class="label">Categories:</span><select
							class="categorySelectBox">
							<option ng:repeat="category in categories">{{category.name}}</option>
							</select>
					</div>
				</div>
				<div id="filters" class="stdBorder">
					<h2>filters</h2>
				</div>
				<div class="clearfix"></div>
			</div>
			<div id="maps" class="stdBorder" style="border-color: orange;">MAPS</div>
		</div>
		<div id="rightcol" class="stdBorder" style="border-color: red;">
			Rightcol
			<div id="listview" class="stdBorder">LIST</div>
			<div id="chat" class="stdBorder">CHAT</div>
		</div>
		<div class="clearfix"></div>
	</div>
